@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #2E282A;
}

h1, h2, h3, h4, h5 {
	font-weight: 600;
}

li, ul {
	list-style: none;
	padding: 0;
}

/* Navbar */
.navbar {
	background-color: #DBF0EF!important;
}

.active-scroll {
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav-link {
	color: #17BEBB!important;
	padding-bottom: 4px;
}

a.nav-link.active {
	color: #3E8E8E!important;
	/*border-bottom: 2px solid #17BEBB!important;*/
}

.navbar-brand {
	color: #17BEBB!important;
}

/* Homepage */

.landing-section {
	height: 80vh;
	position: relative;
	background-image: url("./images/circular-bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -999;
}

.container {
    position: relative;
}

.containerbackground {
	font-size: 20vw;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    color: #FFFFFF;
}

.cta-button {
	padding-right: 3rem;
	padding-left: 3rem;
	background-color: #17BEBB;
	border-radius: 100px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.primary-button {
	padding-right: 3rem;
	padding-left: 3rem;
	background-color: #17BEBB;
	border-radius: 100px;
	border: none;
}

.primary-button:hover {
	background-color: #3E8E8E!important;
	color: #FFFFFF!important;
	border-radius: 100px;
	border: none;
}

.primary-button:focus {
	background-color: #3E8E8E!important;
	color: #FFFFFF!important;
	border-radius: 100px;
	border: none;
}

.primary-button-outline {
	padding-right: 3rem;
	padding-left: 3rem;
	border: 1px solid #17BEBB!important;
	background-color: #FFFFFF!important;
	color: #17BEBB;
	border-radius: 100px;
}

.primary-button-outline:hover {
	padding-right: 3rem;
	padding-left: 3rem;
	background-color: #17BEBB!important;
	color: #FFFFFF!important;
	border-radius: 100px;
}

.secondary-button {
	background-color: #EE7D77!important;
	color: #FFFFFF!important;
	border-radius: 100px;
	border: none;
}

.hero {
	height: 800px;
}


.how-to-section {
	margin-top: 56px;
}

.how-to-card {
	padding-left: 24px;
	padding-right: 24px;
}

.steps-icon {
	height: auto;
	width: 50px;
	margin-bottom: 2rem;
	color: #17BEBB;
}

.card {
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact-us {
	background-color: #DBF0EF!important;
	border-radius: 20px;
}

.contact-body p {
	padding-bottom: 0!important;
}

.contact-body p {
	color: #17BEBB;
	font-weight: 600;
}

.contact-icon {
	margin-right: 8px;
	color: #17BEBB;
}

.contact-form {
	padding: 16px 16px;
	background-color: #FFFFFF;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
}

/* Login & Register & Forms */
.login-section, 
.register-section, {
	height: 100vh;
	background-color: #DBF0EF;
}

.login-section .container, 
.register-section .container,
.form-section .container {
	padding-top: 56px;
}

.login-form , 
.register-form, 
.a-e-form {
	padding: 32px 24px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Desktop screen */
@media only screen and (min-width: 769px) {
	.nav-items {
		display: flex;
		flex-direction: row;
	}
	
	.hero-img {
		margin-top: 10rem;
		height: 85vh;
		width: auto;
	}

	.contact-header {
		padding-top: 40px;
		padding-right: 16rem;
		padding-left: 16rem;
	}

	.login-form, 
	.register-form,
	.a-e-form {
		margin-left: 16rem;
		margin-right: 16rem;
	}

}

/* Tablet screen */
@media only screen and (min-width: 481px) {
  	.hero-img {
		margin-top: 10rem;
	}
}


